MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ACCESS_ID=
MINIO_ACCESS_SECRET=
MINIO_REGION=us-east-1
MINIO_HOST=

# Oracle
WEB_CONSOLE=false
ORACLE_USERNAME=
ORACLE_PASSWORD=
ORACLE_HOST=oracle
ORACLE_SERVICE=xe.oracle.docker

# Airflow
PYTHONPATH="$PYTHONPATH:/opt/airflow/projects/"
AIRFLOW_UID=1000
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# REST
AWS_ACCESS_KEY_ID=${MINIO_ACCESS_ID}
AWS_SECRET_ACCESS_KEY=${MINIO_ROOT_PASSWORD}
AWS_REGION=${MINIO_REGION}
